* {
    margin: 0;
    padding: 0;
}

.background {
    background: url();
    background-size: cover;
    background-blend-mode: darken;
}

nav ul {
    text-align: right;
}

.navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0%;
    cursor: pointer;
    font-family: 'Shadows Into Light',
        cursive;
    z-index: 100;
}

.nav1 {
    width: 100%;
    align-items: center;
}

.nav1 li {
    list-style: none;
    padding: 9px 20px;
    font-size: 20px;
    font-style: inherit;
}

.nav1 li a {
    margin: 15px;
    text-decoration: none;
    color: red;
}

.nav1 li a:hover {
    text-decoration: overline;
    color: black;
}

.logo1 {
    text-align: left;
    position: absolute;
    top: 10px;
    color: red;
    font-family: 'Shadows Into Light',
        cursive;
}

.newmenu {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
    display: none;
}

.menu {
    width: 33px;
    background-color: red;
    height: 4px;
    margin: 3px 3px;
}

/* Hompage */

.firstcontainer {
    height: 100vh;
}

.container1 {
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
    color: red;
    max-width: 50%;
    margin: auto;
}

.con1 {
    top: 50%;
    position: absolute;
    width: 75%;
    justify-content: center;

}

.imageclass {
    width: 30%;
    display: none;
    border: 6px solid;
    border-radius: 150px;
    margin: auto;
}

.name {
    font-family: 'Shadows Into Light',
        cursive;
        font-size: x-large;
}

.btn {
    padding: 10px 30px;
    margin: 9px 5px;
    border: 9px solid black;
    border-radius: 5px;
    background: none;
    color: red;
    cursor: pointer;
}

.shortinfo {
    font-size: larger;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    animation: text 5s;
}